@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Breeze Sans';
  src: url('../assets/fonts/BreezeSans-Regular_20150728.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
